/*because fixed navbar hide the body content*/
body {
	margin-top: 50px;
}
.fadeInOnScroll {
	opacity: 0.8;
}
.crawler {
	display: none;
}
#post_content img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}