<contact-page>	
	<div class="container">
		<div>
			<h1 class="page-header" data-i18n="Contact"></h1>
		</div> <!-- Page Heading -->
		<div class="row animated fadeIn">
			<div class="col-md-6">
				Les séances de répétition ont lieu : <br/>\
				<div class="address">
					<dl class="dl-horizontal">
	  					<dt class="animated fadeInUp">Quand ?</dt>
						<dd><strong>Tous les samedis de 15h-18h</strong></dd>

						<dt class="animated fadeInUp">Où ?</dt>
						<dd>
							<address>
					  			<strong>Centre Culturel du Vietnam à Paris</strong><br/>
								19 rue Albert<br/>
								75013 Paris<br/>
								<img src="http://www.metroparisiphone.com/images/icon.png" alt="Metro" height="29" width="29"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Paris_m_7_jms.svg/120px-Paris_m_7_jms.svg.png" alt="Metro 7" height="16" width="16"> – Porte d’Ivry<br/>
								<img src="http://www.metroparisiphone.com/images/icon.png" alt="Metro" height="29" width="29"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Paris_m_14_jms.svg/120px-Paris_m_14_jms.svg.png" alt="Metro 14" height="16" width="16"> – Olympiades
							</address>
						</dd>
					</dl>
				</div>
				L’entrée est libre.<br/> 
				Donc n’hésitez pas venir d’assiter notre scéance et visiter notre Centre Culturel.<br/>

				<div class="info">
					<div class="col-md-4">
						<a href="https://www.facebook.com/hopcaquehuong"><div class="logo"><i class="fa fa-facebook"></i></div>
						<div class="description"><a href="https://www.facebook.com/hopcaquehuong">fb.com/hopcaquehuong</a></div>
					</div>
					<div class="col-md-4">
						<a href="mailto:nganha52@gmail.com"><div class="logo"><i class="fa fa-envelope-o"></i></div>
						<div class="description">nganha52@gmail.com</a></div>
					</div>
					<div class="col-md-4">
						<div class="logo"><i class="fa fa-phone"></i></div>
						<div class="description">(+33) 6 62 33 12 14</div>
					</div>
				</div> <!-- INFO -->
			</div> <!-- DESCRIPTION -->

			<div class="col-md-6 embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2626.771975940758!2d2.372578!3d48.824412!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6722f75b72c97%3A0xcb39b0862217068b!2s19+Rue+Albert%2C+75013+Paris%2C+France!5e0!3m2!1sen!2sfr!4v1446380474339" width="800" height="600" style="border:0" allowfullscreen></iframe>
			</div> <!-- MAP -->
		</div> <!-- ROW -->
	</div> <!-- CONTAINER -->

	<style scoped>
		dt {
			color: #337ab7
		}

		.address {
			margin-top: 40px;
		}
		.info {
		    text-align: center;
			height:100%;
			min-height: 100% !important;
			margin-top: 30px;
			background-size:cover;
			color:black;
		}

	    .logo {
			cursor: pointer;
			color: white;
			background-color: #337ab7;
			font-size: 60px;
			display: block;
			margin: auto;
			border: 5px solid #337ab7;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-bottom : 5px;
			-webkit-transition: width 1s, height 1s, -webkit-transform 1s; 
			transition: width 1s, height 1s, transform 1s;
		}
		.logo:hover {
				border-color: $brand-secondary;
				color:white;
				-webkit-transform: rotate(360deg); 
				transform: rotate(360deg);
		}
	</style>
</contact-page>