<!--
Display content of a post folder
-->
<dom-module id="folder-content">
	<template>
		<item-list folder-path=[[folderPath]]
				   selected-item-path="{{selectedItemPath}}"
				   allow-upload
				   treat-items-as="file"
				   url-to-admin-php=[[urlToAdminPhp]]
				   allow-post-toolbar=[[allowPostToolbar]]
				   inside-folder-content>
		</item-list>
		<item-content folder-path=[[folderPath]]
					  file-path="{{selectedItemPath}}"
					  url-to-admin-php=[[urlToAdminPhp]]
					  dirty={{dirty}}>
		</item-content>
	</template>
	<script>
		Polymer({
			is: 'folder-content',
			properties: {
				folderPath: {
					type: String,
					readonly: true
				},
				fileName: String,
				selectedItemPath: {
					type: String,
					computed: "_getSelectedItemPath(folderPath, fileName)"
				},
				urlToAdminPhp: String,
				dirty: {
					type: Boolean,
					notify: true,
					value: false
				},
				allowPostToolbar: {
					type: Boolean,
					computed: "_showPostToolbar(folderPath)"
				},
				selectedItems: {
					type: Array,
					notify: true/*,
					observer: "_selectedItemsChanged"*/
				}
			},
/*
			_selectedItemsChanged: function(e) {
				console.info('_selectedItemsChanged 2 ',e);
			},*/

			_getSelectedItemPath: function(folderPath, fileName) {
				return page.helper.joinPath(folderPath, fileName);
			},

			_showPostToolbar: function(folderPath) {
				return folderPath && folderPath.indexOf("content/blog")>0;
			}
		});
	</script>

</dom-module>
