<!--
Main app

# Alert:
Any children elements can alert something in the alert-corner by sending raise-alert-* events
	this.fire("raise-alert-error", "Not supported operation");
-->
<dom-module id="home-page">
	<template>
		<style is="custom-style">
			paper-drawer-panel {
				--paper-drawer-panel-left-drawer-container: {
					background: lightgray;
				 };
			}
			.nav {
				overflow: scroll;
				border-right: 1px solid #ccc;
			}
			:host {
				display: block;
			}
			.main {
				background: lightgray;
			}
			.nav .iron-selected {
				background: var(--default-primary-color);
			}
			item-title {
				display: block;
				--item-title-card-display: list-item;
			}
			paper-drawer-panel {
				--item-list-item-title-display: block;
				--item-title-card-display: list-item;
			}
			paper-button {
				background: darkgreen;
			}

			paper-progress {
				width: 100%;
			}

			.nav a {
				display: list-item;
				margin: 20px 5px;
			}
			.nav a paper-card {
				width: 100%;
				padding: 16px;
			}
		</style>

		<iron-ajax
			id="newPostRequester"
			method="POST"
			url=[[urlToAdminPhp]]
			content-type="application/json"
			handle-as="json"
			debounce-duration="50"
			loading = {{loading}}
			on-error="_onError"
			on-response="_onResponse"></iron-ajax>

		<paper-drawer-panel id="drawerPanel" responsive-width="1024px">

			<div class="nav" drawer>
				<a href="#!/themes">
					<paper-card>Themes</paper-card>
				</a>
				<iron-selector attr-for-selected="filePath" selected=[[folderPath]] activate-event="">
					<item-title parent-path=[[parentOfBannerFolder]] file-name="banner" treat-as="folder" url-to-admin-php=[[urlToAdminPhp]]></item-title>
					<item-title parent-path=[[contentFolder]] file-name="members" treat-as="folder" url-to-admin-php=[[urlToAdminPhp]]></item-title>
					<item-title parent-path=[[contentFolder]] file-name="locales" treat-as="folder" url-to-admin-php=[[urlToAdminPhp]]></item-title>
				</iron-selector>
				<item-list id="blogPosts"
						   folder-path="[[blogFolder]]"
						   url-to-admin-php=[[urlToAdminPhp]]
						   treat-items-as="folder"
						   selected-item-path=[[folderPath]]
						   visit-link-prefix='#post/'>
				</item-list>
			</div>

			<paper-header-panel class="main" main mode="waterfall">
				<!-- Main Toolbar -->
				<paper-toolbar>
					<paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
					<div class="title">{{welcomeHeader}}</div>
					<google-signin id="gs" scopes="profile"></google-signin>
					<paper-button on-tap="_createNewPost"><iron-icon icon="add"></iron-icon>New Post</paper-button>
				</paper-toolbar>

				<!-- Main Content -->
				<div class="content">
					<template is="dom-if" if="{{loading}}">
						<paper-progress indeterminate></paper-progress>
					</template>

					<iron-pages attr-for-selected="data-route" selected={{subRoute}}>
						<section data-route="home">
							<folder-content folder-path=[[folderPath]]
											url-to-admin-php=[[urlToAdminPhp]]
											file-name=[[fileName]]
											dirty={{dirty}}>
							</folder-content>
						</section>
						<section data-route="themes">
							<theme-changer url-to-admin-php=[[urlToAdminPhp]]></theme-changer>
						</section>
					</iron-pages>

				</div>

			</paper-header-panel>
		</paper-drawer-panel>

		<alert-corner id="alertCorner" auto-close="10000"></alert-corner>

	</template>

	<script>
		Polymer({
			ready: function() {
				this.parentOfBannerFolder = page.helper.joinPath(page.contentFolder, 'home');
				this.contentFolder = page.contentFolder;
			},

			is: 'home-page',

			properties: {
				blogFolder: String,
				folderPath: String,
				fileName: String,
				urlToAdminPhp: String,
				dirty: {
					type: Boolean,
					notify: true,
					value: false
				},
				subRoute: {
					type: String,
					value: 'home'
				}

//				loading: Boolean, //no need, declare here only to sastify polylint
//				parentOfBannerFolder: String, //no need, declare here only to sastify polylint
//				welcomeHeader: String //no need, declare here only to sastify polylint
			},

			listeners: {
				/*Here we caputure event coming from the button gs inside this component*/
				//"gs.google-signin-aware-signed-out": "_onSignOut",
				'gs.google-signin-aware-success': "_onSignIn",

				/*we can also capture the global events comming from app.gsa*/
				/*"google-signin-aware-signed-out": "_onSignOut",
				'google-signin-aware-success': "_onSignIn"*/

				'raise-alert-info': "_raiseAlertInfo",
				'raise-alert-warning': "_raiseAlertWarning",
				'raise-alert-error': "_raiseAlertError"
			},

			/**
			 * Change the welcome header on signed in
			 */
			_onSignIn: function() {
				var currentUser = gapi.auth2.getAuthInstance().currentUser.get();
				if (currentUser) {
					var profile = currentUser.getBasicProfile();
					if (profile) {
						this.welcomeHeader = "Hi, " + profile.getName() + " (" + profile.getId() + ")";
						//this.userAvatar = profile.getImageUrl();
						//this.userEmail = profile.getEmail();
						//var id_token = currentUser.getAuthResponse().id_token;
						return;
					}
				}
				console.error("Cannot retreive user info");
				app.displayLoginPage();
			},

			/**
			 * display raise-alert event in the alert-corner
			 */
			_raiseAlertInfo: function(e) {
				this.$.alertCorner.showInfo(e.detail);
			},
			_raiseAlertWarning: function(e) {
				this.$.alertCorner.showWarning(e.detail);
			},
			_raiseAlertError: function(e) {
				this.$.alertCorner.showError(e.detail);
			},

			_createNewPost: function() {
				var postName = prompt("Enter a name (dung tieng Viet khong dau)", "Unnamed");
				if (postName) {
					var requester = this.$.newPostRequester;
					requester.body = {
						action: 'newpost',
						postName: postName,
						adminToken: page.helper.adminToken()
					};
					requester.generateRequest();
				}
			},
			_onError: function(e) {
				this._raiseAlertError(e.detail.error)
			},
			_onResponse: function(e) {
				var response = e.detail.response;
				console.info(response);
				this.$.blogPosts.reload({newCollection:response.allPostIds});

				//Goto the new post
				var pageToGo = '/file/' + page.helper.joinPath(app.blogFolder, response.newPostId)+'/vi.md';
				page(pageToGo);
			}
		});

	</script>

</dom-module>
