<!--
Display items in a post folder
-->
<dom-module id="item-list">
	<template>
		<style is="custom-style">
			paper-progress {
				width: 100%;
			}
			item-title {
				display: var(--item-list-item-title-display, inline-block);
			}
			.iron-selected {
				background: var(--default-primary-color);
			}

			.toolbar {
				width: 90%;
				margin: 20px 5%;
			}
			.toolbar .left{
				float:left;
				padding-right: 10px;
			}
			.toolbar .right{
				overflow:hidden;
				background: white;
			}
		</style>

		<iron-ajax
			auto
			method="POST"
			url=[[urlToAdminPhp]]
			content-type="application/json"
			body=[[ajaxBodyLoad]]
			handle-as="json"
			last-response={{list}}
			debounce-duration="100"
			loading={{loading}}
			on-error = "_onError"></iron-ajax>

		<iron-ajax
			id="creator"
			method="POST"
			url=[[urlToAdminPhp]]
			content-type="application/json"
			handle-as="json"
			last-response={{list}}
			debounce-duration="100"
			loading={{loading}}
			on-error = "_onError"></iron-ajax>

		<template is="dom-if" if="{{loading}}">
			<paper-progress indeterminate></paper-progress>
		</template>

		<div class="toolbar">
			<template is="dom-if" if="{{allowPostToolbar}}">
				<div class="left">
					<button on-tap="createFr">fr</button>
				</div>
				<div class="left">
					<button on-tap="createEn">en</button>
				</div>
			</template>
			<template is="dom-if" if="{{allowUpload}}">
				<div class="right">
					<file-upload class="right" url=[[urlToAdminPhp]] target-server-folder=[[folderPath]] on-upload-success="_uploadSuccess" on-upload-error="_uploadError"></file-upload>
				</div>
			</template>
		</div>

		<iron-selector selected-items={{selectedItems}} attr-for-selected="filePath" selected={{selectedItemPath}} activate-event="">
			<template id="repeater" is="dom-repeat" items={{list}} sort="_compare">
				<item-title treat-as=[[treatItemsAs]]
							file-name={{item}}
							parent-path={{folderPath}}
							url-to-admin-php=[[urlToAdminPhp]]
							visit-link-prefix=[[visitLinkPrefix]]
							deletable renamable visitable>
				</item-title>
			</template>
		</iron-selector>
	</template>
	<script>
		Polymer({
			is: 'item-list',

			properties: {
				folderPath: String,
				urlToAdminPhp: String,
				allowUpload: Boolean,
				allowPostToolbar: Boolean,
				ajaxBodyLoad: {
					type: String,
					computed: "_ajaxBodyLoad(folderPath)",
					readOnly: true
				},
				/*file or folder*/
				treatItemsAs: String,
				list: Array,
				selectedItems: {
					type: Array,
					notify: true
				},
				selectedItemPath: String,
				visitLinkPrefix: String
			},

			/*observers: [
				"_onSelectItem(selectedItems.0)"
			],*/
			listeners: {
				"refresh-collection": "_reload"
			},

			/*selectedItemPathChanged: function(e) {
				console.info("selectedItemPathChanged", e);
			},*/

			_reload: function(e) {
				this.reload(e.detail);
			},

			reload: function(state) {
				this.list = state.newCollection; //reload the collection
				if (state.changedItem) {
					//force render & wait until it finish, before changing the selection,
					// otherwise no item will be selected
					this.$.repeater.render();

					//change the selection
					this.selectedItemPath = state.changedItem;
				}
			},

			_onError: function(e) {
				this.fire("raise-alert-error", e.detail.error);
			},
			_uploadError: function(e) {
				this.fire("raise-alert-error", "Upload failed "+ e.detail.responseText);
			},
			_uploadSuccess: function(e) {
				var newCollection = JSON.parse(e.detail.response);
				this.list = newCollection; //reload the collection
			},

			_ajaxBodyLoad: function(folderPath) {
				return {action: "ls", path: folderPath};
			},

			_ajaxBodyCreation: function(newFileName) {
				return {
					action: "cp",
					parentPath: this.folderPath,
					srcFileName: 'vi.md',
					destFileName: newFileName,
					adminToken: page.helper.adminToken()
				};
			},

			/*_initialContent: function() {
				var currentUser = gapi.auth2.getAuthInstance().currentUser.get();
				var profile = currentUser.getBasicProfile();
				var folderName = this.folderPath.replace(/^.*[\\\/]/, '');
				var author = profile.getName();
				return '<!---'
				+ '\ntitle: '+ folderName
				+ '\nauthor: '+ author
				+ '-->\n'
			},*/

			_newFile: function(newFileName) {
				//check if the file is on the list
				if (this.list.indexOf(newFileName)<0) {
					var requester = this.$.creator;
					requester.body = this._ajaxBodyCreation(newFileName);
					requester.generateRequest(); //will refresh the list after success
					var pageToGo = '/file/' + page.helper.joinPath(this.folderPath, newFileName);
					page(pageToGo);
				}
				else {
					var pageToGo = '/file/' + page.helper.joinPath(this.folderPath, newFileName);
					page(pageToGo);
				}
			},
			createFr: function() {
				this._newFile('fr.md');
			},
			createEn: function() {
				this._newFile('en.md');
			},

			/**
			 * display markdown file first then image files after.
			 * 'vi.md' is always the first item in the list
			 */
			_compare: function(a, b) {
				if (this.treatItemsAs==='folder') {
					return b.localeCompare(a);
				}

				if (a==='config.txt') {
					return -1;
				}
				else if (b==='config.txt') {
					return 1;
				}

				var isMdA = page.helper.isMarkdown(a);
				var isMdB = page.helper.isMarkdown(b);
				var isBakA = page.helper.isTemp(a);
				var isBakB = page.helper.isTemp(b);

				if (isMdA && isMdB) {
					return this._compareTwoMd(a, b);
				}
				else if (isMdA) {
					return -1;
				}
				else if (isMdB) {
					return 1;
				}
				else if (isBakA && isBakB) {
					return a.localeCompare(b);
				}
				else if (isBakA) {
					return 1;
				}
				else if (isBakB) {
					return -1;
				}
				return a.localeCompare(b);
			},

			_compareTwoMd: function(a, b) {
				return b.localeCompare(a);
			}

			/*_onSelectItem: function(e) {
				if (e && e.filePath) {
					if (this.treatItemsAs === 'folder') {
						//var pageToGo = "/folder/" + e.filePath;
						page(pageToGo);
					}
					else if (this.treatItemsAs === 'file') {
						var pageToGo = "/file/" + e.filePath;
						page.redirect(pageToGo);
					}
				}
			}*/
		});
	</script>

</dom-module>
