<!--
Represent a file or folder on the server. Provide Rename and Remove operation, by invoking the corresponding backend admin API
After a success Renaming or Removing, fire the `refresh-collection` event to order the container refresh the item list

Properties:
* parentPath
* fileName
* filePath
* isImage
* isMarkdown
-->
<dom-module id="item-title">
	<template>
		<style is="custom-style">
			.thumb {
				max-width: 200px;
				max-height: 100px;
				width: auto;
				height: auto;
			}
			paper-card {
				max-width: 300px;
				margin:5px;
				vertical-align: top;
				cursor: pointer;
				display: var(--item-title-card-display, inline-block);
			}

			paper-input {
				width: 200px;
			}

			paper-card:hover {
				@apply(--shadow-elevation-8dp);
			}

			paper-icon-button {
				color: var(--secondary-text-color);
			}
			paper-icon-button:hover {
				color: var(--primary-text-color);
			}

			paper-progress {
				width: 100%;
			}
			:host {
				vertical-align: text-top;
			}
		</style>

		<iron-ajax
			id="sender"
			method="POST"
			url=[[urlToAdminPhp]]
			content-type="application/json"
			body=[[ajaxBody]]
			handle-as="json"
			last-response="{{items}}"
			debounce-duration="100"
			loading = {{loading}}
			on-error="_onError"
			on-response="_notifyChangeToContainer"></iron-ajax>

		<paper-card on-tap="_onTap">
			<template is="dom-if" if="{{loading}}">
				<paper-progress indeterminate></paper-progress>
			</template>
			<template is="dom-if" if={{renaming}}>
				<div class="card-content">
					<paper-input label="New name" type="text" value={{newFileName}}></paper-input>
				</div>
				<div class="card-actions">
					<paper-icon-button id="cancel" icon="icons:undo" alt="Cancel" on-tap="_cancelRename"></paper-icon-button>
					<paper-tooltip for="cancel">Cancel</paper-tooltip>
					<paper-icon-button id="_submitNewName" icon="icons:check" alt="Submit new name" on-tap="_submitNewName"></paper-icon-button>
					<paper-tooltip for="_submitNewName">OK</paper-tooltip>
				</div>
			</template>
			<template is="dom-if" if={{!renaming}}>
				<div class="card-content">
					<template is="dom-if" if={{isImage}}>
						<img class='thumb' src="[[filePath]]">
					</template>
					<div>{{fileName}}</div>
				</div>
				<template is="dom-if" if="{{_hasAction(deletable, renamable, visitable)}}">
					<div class="card-actions">
						<template is="dom-if" if={{deletable}}>
							<paper-icon-button id="delete" icon="icons:clear" alt="Delete" on-tap="_deleteItem"></paper-icon-button>
							<paper-tooltip for="delete">Delete</paper-tooltip>
						</template>
						<template is="dom-if" if={{renamable}}>
							<paper-icon-button id="rename" icon="icons:text-format" alt="Rename" on-tap="_enterRenameMode"></paper-icon-button>
							<paper-tooltip for="rename">Rename</paper-tooltip>
						</template>
						<template is="dom-if" if={{visitable}}>
							<paper-icon-button id="open" icon={{openIcon}} alt="Open" on-tap="_openItem"></paper-icon-button>
							<paper-tooltip for="open">Visit or download item</paper-tooltip>
						</template>
					</div>
				</template>
			</template>
		</paper-card>
	</template>
	<script>
		Polymer({
			is: 'item-title',

			ready: function() {
				this._updateStyles();
				this.renaming = false;
			},

			_updateStyles: function() {
				if (this.treatAs === "file" && (this.isMarkdown || this.fileName==='config.txt')) {
					this.style["font-size"] = "20px";
				}
				else {
					this.style["font-size"] = null;
				}

				if (this.treatAs === "file") {
					this.renamable = "vi.md" !== this.fileName && "config.txt" !== this.fileName;
					this.deletable = "vi.md" !== this.fileName && "config.txt" !== this.fileName;;
				}
			},

			properties: {
				fileName: {
					type: String,
					notify: true,
					observer: "_updateStyles"
				},
				parentPath: String,
				urlToAdminPhp: String,
				deletable: Boolean,
				renamable: Boolean,
				visitable: Boolean,
				/**
				 * possible value "file" or "folder"
				 */
				treatAs: {
					type: String,
					value: 'file',
					observer: "_updateStyles"
				},

				isImage: {
					type: Boolean,
					computed: '_isImage(treatAs, fileName)',
					notify: true
				},
				isText: {
					type: Boolean,
					computed: '_isText(treatAs, fileName)',
					notify: true
				},
				isMarkdown: {
					type: Boolean,
					computed: '_isMarkdown(treatAs, fileName)',
					notify: true
				},
				filePath: {
					type: String,
					computed: "_getFilePath(fileName, parentPath)",
					notify: true
				},

				isPostFolder: {
					type: Boolean,
					computed: "_isPostFolder(treatAs, fileName)"
				},
				pageToGo: {
					type: String,
					computed: "_pageToGo(isPostFolder, treatAs, filePath)"
				},
				visitLinkPrefix: String,
				openIcon: {
					type: String,
					computed: "_getOpenIcon(treatAs)"
				}
			},

			_isPostFolder: function(treatAs, fileName) {
				if (treatAs === 'folder') {
					var patt = /\d\d\d\d-\d\d-\d\d.*/g
					if (fileName.match(patt)) {
						return true;
					}
				}
				return false;
			},

			_pageToGo: function(isPostFolder, treatAs, filePath) {
				if (isPostFolder) {
					return '/file/'+page.helper.joinPath(filePath, 'vi.md');
				}
				else {
					return '/'+treatAs +'/'+ filePath;
				}
			},
			_onTap: function() {
				page(this.pageToGo);
			},
			_hasAction: function(deletable, renamable, visitable){
				return deletable || renamable || visitable;
			},
			_enterRenameMode: function() {
				this.newFileName = this.fileName;
				this.renaming = true;
			},
			_cancelRename: function() {
				this.renaming = false;
			},
			_submitNewName: function() {
				this.ajaxBody = {action: "ren",
						parentPath: this.parentPath,
						currentName: this.fileName,
						newName: this.newFileName,
						adminToken: page.helper.adminToken()
					};
				this.$.sender.generateRequest();
				this.renaming = false;
			},
			_onError: function(e) {
				this.fire("raise-alert-error", e.detail.error);
			},
			_deleteItem: function(e) {
				var r = window.confirm("Are you sure to delete "+this.fileName+" ?");
				if (r===true) {
					this.ajaxBody = {action: "rm",
							parentPath: this.parentPath,
							currentName: this.fileName,
							adminToken: page.helper.adminToken()
						};
					this.$.sender.generateRequest();
				}
			},
			_isImage: function(treatAs, fileName) {
				return treatAs === 'file' && page.helper.extMatchImage(fileName);
			},
			_isText: function(treatAs, fileName) {
				return treatAs === 'file' && page.helper.extMatchText(fileName);
			},
			_isMarkdown: function(treatAs, fileName) {
				return treatAs === 'file' && page.helper.extMatchMarkdown(fileName);
			},
			_getFilePath: function(fileName, parentPath) {
				return page.helper.joinPath(parentPath, fileName);
			},
			_notifyChangeToContainer: function(e) {
				var currentAction = this.ajaxBody.action;

				if (currentAction === "ren") {
					//this.fileName = this.newFileName;
					this.fire("refresh-collection", {because: currentAction, newCollection: e.detail.response, changedItem: page.helper.joinPath(this.parentPath, this.newFileName)});
				}
				else  if (currentAction === "rm") {
					this.fire("refresh-collection", {because: currentAction, newCollection: e.detail.response, changedItem: null});
				}
			},
			_openItem: function(e) {
				var linkToOpen = this.visitLinkPrefix ? page.rootFolder + this.visitLinkPrefix + this.fileName : this.filePath;
				window.open(linkToOpen);
			},
			_getOpenIcon: function(treatAs) {
				return treatAs==='file'? 'icons:file-download' : 'icons:open-in-browser';
			}
		});
	</script>
</dom-module>
