<dom-module id="item-content">
    <template>
		<style is="custom-style">
			:host {
				display: block;
			}
			commonmark-editor {
				display: block;
				background: #fff;
				@apply(--shadow-elevation-2dp);
				height: 700px;
				margin: 20px 5%;
			}
			text-editor {
				display: block;
				background: #fff;
				@apply(--shadow-elevation-2dp);
				height: 700px;
				margin: 20px 5%;
			}
			paper-progress {
				width: 100%;
			}
			paper-button {
				background: var(--default-primary-color);
				color: var(--text-primary-color);
				width: 100px;
				margin-left: auto;
				margin-right: auto;
			}
			.infoImage {
				@apply(--paper-font-title);
				text-align: center;
				vertical-align: middle;
				margin: 20px auto;
			}
			.center {
				text-align: center;
			}
		</style>

		<iron-ajax
			id="loader"
			method="GET"
			headers='{"pragma": "no-cache", "Cache-Control":"no-cache"}'
			url=[[filePath]]
			handle-as="text"
			last-response="{{content}}"
			debounce-duration="100"
			loading={{loading}}
			on-response="_onLoaderResponse"
			on-error = "_onLoadError"></iron-ajax>

		<iron-ajax
			id="saver"
			method="POST"
			url=[[urlToAdminPhp]]
			content-type="application/json"
			body=[[ajaxBody]]
			handle-as="text"
			last-response="{{content}}"
			debounce-duration="100"
			loading={{loading}}
			on-response="_onSaverResponse"
			on-error = "_onError"></iron-ajax>

		<template is="dom-if" if="{{loading}}">
			<paper-progress indeterminate></paper-progress>
		</template>
		<template is="dom-if" if="[[isMarkdown]]" restamp>
			<div class="center">
				<template is="dom-if" if="[[dirty]]">
					<b style="color:red">Don't forget to</b>
				</template>
				<paper-button raised on-tap="_saveDirtyContent"><iron-icon icon="check"></iron-icon>Save</paper-button>
			</div>
			<commonmark-editor working-dir=[[parentPath]] value={{dirtyContent}} height="700px" changed-by-user={{dirty}}></commonmark-editor>
			<div class="center">
				<paper-button raised on-tap="_saveDirtyContent"><iron-icon icon="check"></iron-icon>Save</paper-button>
			</div>
		</template>
		<template is="dom-if" if="[[isText]]" restamp>

			<div class="center">
				<template is="dom-if" if="[[dirty]]">
					<b style="color:red">Don't forget to</b>
				</template>
				<paper-button raised on-tap="_saveDirtyContent"><iron-icon icon="check"></iron-icon>Save</paper-button>
			</div>

			<text-editor value={{dirtyContent}} height="700px" changed-by-user={{dirty}}></text-editor>
			<div class="center">
				<paper-button raised on-tap="_saveDirtyContent"><iron-icon icon="check"></iron-icon>Save</paper-button>
			</div>
		</template>
		<template is="dom-if" if="[[isImage]]" restamp on-dom-change='_onDomChange'>
			<div class='infoImage'>[[InfoImage]]</div>
			<!-- <img src="[[itemTitle.filePath]]"> -->
			<iron-image id='img' src="[[filePath]]"></iron-image>
		</template>
    </template>

    <script>
        Polymer({
            is: "item-content",

			properties: {
				folderPath: {
					type: String,
					readonly: true
				},
				filePath: {
					type: String,
					observer: "itemChanged"
				},
				urlToAdminPhp: String,
				dirty: {
					type: Boolean,
					notify: true,
					value: false
				},

				isMarkdown: {
					type: Boolean,
					computed: "_isMarkdown(filePath)"
				},
				isText: {
					type: Boolean,
					computed: "_isText(filePath)"
				},
				isImage: {
					type: Boolean,
					computed: "_isImage(filePath)"
				}
			},

			itemChanged: function(e) {
				if (this.isMarkdown || this.isText) {
					this.$.loader.generateRequest(); //reload content
				}
				else {
					this.dirty = false; //reset the dirty state (no more dirty after display a new item)
				}
			},

			_onLoaderResponse: function(e) {
				if (this.isMarkdown || this.isText) {
					//reset the dirty content and state (no more dirty after reload)
					this.dirtyContent = this.content;
					this.dirty = false;
				}
				this.style['display']='block';
			},
			_onError: function(e) {
				this.fire("raise-alert-error", e.detail.error+": "+e.target.url);
				console.error(e);
			},
			_onLoadError: function(e) {
				this.fire("raise-alert-error", e.detail.error+": "+e.target.url);
				this.style['display']='none';
			},

			_saveDirtyContent: function() {
				this.ajaxBody = {
					action: "save",
					filePath: this.filePath,
					newContent: this.dirtyContent,
					adminToken: page.helper.adminToken()
				};
				this.$.saver.generateRequest();
			},
			_onSaverResponse: function(e) {
				//here we expect that the server will return the same content as we saved but it was not the case
				//reset the dirty state
				this.dirty = (e.detail.response !== this.dirtyContent);
				if (this.dirty) {
					this.fire("raise-alert-error", "Server is not return the expected content");
					console.error("unexpected response from Server", e.detail.response);
				}
			},
			_onDomChange: function(e) {
				var img = this.$$('#img');
				if (img) {
					this.InfoImage = 'Width: ' + img.clientWidth + ' x Height: ' + img.clientHeight;
				}
			},

			_isImage: function(filePath) {
				return page.helper.extMatchImage(filePath);
			},
			_isText: function(filePath) {
				return page.helper.extMatchText(filePath);
			},
			_isMarkdown: function(filePath) {
				return page.helper.extMatchMarkdown(filePath);
			}
        });
    </script>

</dom-module>
