<!--
A Simple text editor which can detect dirty state (when humans clients change the text).
-->
<dom-module id="text-editor">
	<template>
		<textarea id="input" placeholder="{{placeholder}}" on-keyup="inputChangeAction" value="{{value::input}}"></textarea>
		<style>
			* {
				box-sizing: border-box;
			}
			textarea {
				width: 100%;
				height: 400px;
				resize: vertical;
			}
		</style>
	</template>
	<script>
		Polymer({
			is: 'text-editor',
			ready: function() {
				//yeild the distribution content to the textarea (to transclude the imperative content)
				var content = Polymer.dom(this).textContent;
				if (content) {
					this.$.input.value = content;
					this.inputChangeAction();
				}

				//set height
				this.$.input.style.height = this.height;
			},

			properties: {
				height: {
					type: String,
					value: "400px"
				},
				placeholder: {
					type: String,
					value: 'Text content'
				},
				value: {
					type: String,
					observer: "inputChangeAction",
					notify: true
				},

				/**
				 * Use to detect the dirty input state
				 * - turn to true when the text is changed by human input
				 * - reset to false if the value is set programmatically
				 */
				changedByUser: {
					type: Boolean,
					readOnly: true,
					notify: true,
					default: false
				}
			},

			inputChangeAction: function(e) {
				var textArea = this.$.input;

				if (this.cachedSrc !== textArea.value){
					this._setChangedByUser(e && e.constructor.name==="KeyboardEvent");
				}

				this.debounce("inputChangeAction", function(){
					if (this.cachedSrc !== textArea.value) {
						this.cachedSrc = textArea.value;
					}
				}, 500);

			}
		});
	</script>

</dom-module>
