<script src="../bower_components/page/page.js"></script>
<script>
	/* it will automaticly changed when compiling with gulp */
	page.rootFolder = "/hcqh/";

	page.contentFolder = page.rootFolder+"content/";
	page.base(page.rootFolder+"admin/");

	window.addEventListener('WebComponentsReady', function () {
		app.urlToAdminPhp = page.rootFolder + "backend/admin.php";
		app.blogFolder = page.rootFolder + "content/blog";

		page('/', function (ctx, next) {
			document.title = 'Hop-Ca Admin - Home';
			//console.info('Enter home',ctx);
			if (app.isAuthorized) {
				app.route = 'home';
				app.subRoute = 'home';
			}
			else {
				app.displayLoginPage();
			}
			app.subRoute = 'home';
			app.folderPath = null;
			app.fileName = null;
		});

		page('/themes', function (ctx, next) {
			document.title = 'Hop-Ca Themes';
			if (app.isAuthorized) {
				app.route = 'home';
			}
			else {
				app.displayLoginPage();
			}
			app.subRoute = 'themes';
			app.folderPath = null;
			app.fileName = null;
		});

		page('/folder/:folder(.*)', function (ctx) {
			document.title = 'Hop-Ca Admin - folder/'+ctx.params.folder;
			//console.info('Enter folder',ctx.path);
			if (app.isAuthorized) {
				app.route = 'home';
			}
			else {
				app.displayLoginPage();
			}
			app.subRoute = 'home';
			app.folderPath = ctx.params.folder;
			app.fileName = null;
		});

		page('/file/:folder(.*)/:file', function (ctx) {
			//console.info('Enter file',ctx.path);
			document.title = 'Hop-Ca Admin - file/'+ctx.params.folder+'/'+ctx.params.file;
			if (app.isAuthorized) {
				app.route = 'home';
			}
			else {
				app.displayLoginPage();
			}
			app.subRoute = 'home';
			app.folderPath = ctx.params.folder;
			app.fileName = ctx.params.file;
		});

		page('*', function (ctx) {
			document.title='404';
			console.info('404', ctx.path);
			app.route = "404";
		});

		page.exit('*', function (ctx, next) {
			if (app.dirty) {
				var message = "Are you sure you want to leave this page?\nYour change will be lost if you click on OK";
				if (confirm(message)) {
					next(); //leave
				}
			}
			else {
				next(); //leave
			}
		});

		/**
		 * Display the login page while not changing the actual route
		 */
		app.displayLoginPage = function() {
			if (app.route !== "login") {
				app.lastRoute = app.route;
			}
			app.route = "login";
		};

		app.restorePageAfterLogin = function() {
			if (app.lastRoute) {
				app.route = app.lastRoute;
				return;
			}
			app.route = "home";
		};

		//it will call page.start()
		page({
			hashbang: true // add #! before urls
		});

		//display the login page on sign out
		app.$.gsa.addEventListener("google-signin-aware-signed-out", app.displayLoginPage);

		/*app.handleSignIn = function() {
			console.info("google-login");
			//app.fire("google-login");
		};

		app.handleSignOut = function() {
			console.info("google-logout");
			//app.fire("google-logout");
		}*/
	});

	page.helper = {
		/**
		 * Check if fileName is a markdown file. The fileName starts with "_" is a temp file, not markdown file
		 *
		 * @param fileName: String
		 * @return Boolean true if fileName match *.md
		 */
		isMarkdown: function(fileName) {
			return fileName.indexOf(".md", fileName.length - 3) !== -1 && !this.isTemp(fileName);
		},

		extMatchImage: function(fileName) {
			return fileName.match(/\.(jpg|png|bmp|gif|ico|jpeg|svg|jpe|tiff|tif|tga)$/i);
		},
		extMatchText: function(fileName) {
			return fileName.match(/\.(txt|text|config|ini|cfg|js|json|html|tag|css)$/i);
		},
		extMatchMarkdown: function(fileName) {
			return fileName.indexOf(".md", fileName.length - 3) !== -1;
		},
		parentPath: function(fileName) {
			return myURL.substring(0, myURL.lastIndexOf( "/" ) + 1);
		},

		/**
		 * Check if fileName is a temporary file. The fileName starts with "_" is a temp file, not markdown file
		 *
		 * @param fileName: String
		 * @return Boolean true if fileName matches _*.*
		 */
		isTemp: function(fileName) {
			return fileName.indexOf("_") === 0;
		},

		/**
		 * Send this token along with "write nature" request (remove, rename..).
		 * So that server can check user privilege.
		 * @returns admin token
		 */
		adminToken: function() {
			var currentUser = gapi.auth2.getAuthInstance().currentUser.get();
			if (currentUser) {
				return currentUser.getAuthResponse().id_token;
			}
			return null;
		},

		/*string utils*/

		endsWith: function(s, suffix) {
			return s.indexOf(suffix, s.length - suffix.length) !== -1;
		},

		startsWith: function(s, prefix) {
			return s.indexOf(prefix) === 0;
		},

		/**
		 * ("foo/", "bar") return "foo/bar"
		 * ("foo", "bar") return "foo/bar"
		 * @param p1: String
		 * @param p2: String
		 */
		joinPath: function(p1, p2) {
			if (!p1) {
				return p2;
			}
			if (!p2) {
				return p1;
			}
			if (p1.charAt(p1.length-1)==='/') {
				p1=p1.substring(0, p1.length-1);
			}
			if (p2.charAt(0)==='/') {
				p2=p2.substring(1);
			}
			return p1 + '/' + p2;
		}
	}
</script>
