/*because fixed navbar hide the body content*/
body {
	margin-top: 50px;
	background-color: #ececec;
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(236,236,236,0.8);
}

.crawler {
	display: none;
}

.brand-header {
	padding:0px; text-decoration: none; color: darkslateblue; font-size: large; font-weight: bold;
}

.retry-link {
	text-decoration: none;
	color: white;
	text-decoration: underline;
}
.retry-link:hover {
	text-decoration: underline;
	color: white;
	font-size: 120%;
}

.section {
	background: #DCDCDC;
	padding: 10px;
	margin: 30px;
}
.lab {
	font-size: 140%;
}
.val {
	font-size: 180%;
	font-weight: bold;
}
