/*because fixed navbar hide the body content*/
body {
	margin-top: 50px;
	background-color: #ececec;
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(236,236,236,0.8);
}

.crawler {
	display: none;
}
